/* @import "node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "grid"; */

:root {
  --white: #FFFFFF;
  --khaki: #d2d0b1;
  --beige-1: #FBF9F6;
  --beige-2: #E7DCC9;
  --light-brown: #8C7C63;
  --mocha: #615249;
  --black: #000000;
}

body {
  font-size: 5vw;
  font-family: "Gill Sans", sans-serif;
}

